


<!DOCTYPE html>

<html id="root-node-open-source-clubs">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <meta property="og:url" content="http://opensource.mozilla.community/">
  <meta property="og:title" content="Open Source Clubs">
  <meta property="og:image" content="https://opensource.mozilla.community/static/img/ossn.jpg">


    <title>


          Open Source Clubs




          - open source clubs


    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="static/css/10ed2933ead8.css" type="text/css" /><link rel="stylesheet" href="static/css/4c9cf42867e9.css" type="text/css" /><link rel="stylesheet" href="static/css/8f1e011f6761.css" type="text/css" />
  </head>

  <body class="">


    <div class="page-wrap">

      {{ template "header.html" .header }}


  <div class="content">
    <div class="container">




          <div class="card-deck">



<div class="card cl-6">
  <h4 class="card-header">

      RIT Linux Users Group

  </h4>
  <div class="card-body">

      <img alt="RIT" height="300" src="https://coss-production-media.s3.amazonaws.com/images/Rochester_Institute_of_Technology_55.max-525x300.jpg" width="409">
      <div class="rich-text"><p>The RIT Linux Users Group (RITlug) is a community of students and faculty at the Rochester Institute of Technology dedicated to teaching and sharing the Linux operating system and open source software with others. RITlug also works on various other projects, such as a Linux distribution customized for students and faculty at RIT.<br/></p></div>

    <div class="cta">
      <a href="/find-club/rit-linux-users-group/">See more</a>
    </div>
  </div>
</div>




<div class="card cl-6">
  <h4 class="card-header">

      Mines ACM Student Chapter

  </h4>
  <div class="card-body">

      <img alt="Mines" height="300" src="https://coss-production-media.s3.amazonaws.com/images/5137838656_01d0ae91a3_b.max-525x300.jpg" width="400">
      <div class="rich-text"><p>The Mines ACM Student Chapter is a diverse group of students who are interested in open source, programming competitions, and computer science in general.</p></div>

    <div class="cta">
      <a href="/find-club/mines-acm-student-chapter/">See more</a>
    </div>
  </div>
</div>


          </div>




        <div class="text-center mt-4">
          <a href="/find-club/">
            See All Of Our Clubs
            <img class="ml-2" src="/static/img/icons/right-arrow-black.svg" alt="more">
          </a>
        </div>





<div class="row testimonial">
  <div class="col-lg-2 col-md-4">
    <img alt="justin" class="img-fluid mx-auto d-block" height="266" src="https://coss-production-media.s3.amazonaws.com/images/justin.width-400.jpg" width="400">
  </div>
  <div class="col-lg-10 col-md-8">
    <blockquote>
      <div class="rich-text"><p>Community is one of the biggest parts of open source, so it doesn't
make sense for open source communities to be isolated from each other.
The open source clubs program helps our community connect with others
and work together to spread open source on our campuses</p></div>
      <p class="quote-person">JUSTIN W. FLORY</p>
    </blockquote>
  </div>
</div>


    </div>

  </div>


    </div>



    <div class="bottom-banner">
  <div class="container">
    <div class="row">

        <div class="col-md-3">
          <a href="https://opensource.mozilla.community/faq-page/" class="btn btn-default align-middle">FAQ</a>
        </div>
        <div class="col-md-6">
          <h4>Need some help?</h4>
          <p><div class="rich-text"><p>Take a look at our Frequently Asked Questions (FAQ) or reach out via our contact form.<br/></p></div></p>
        </div>
        <div class="col-md-3">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScMU22Otv3OU1aKpeRbC1MY1u4_3ST3Qg_DcYyERzfrmYTAJA/viewform" class="btn btn-default">CONTACT US</a>
        </div>

    </div>
  </div>
</div>


{{ with .footer }} {{ template "footer.html" . }} {{ end }}


    <script type="text/javascript" src="/static/CACHE/js/2fbaa9cb08ba.js"></script>
<script type="text/javascript" src="/static/CACHE/js/57c0e4ea4292.js"></script>
<script type="text/javascript" src="/static/CACHE/js/a010683fe23c.js"></script>
<script type="text/javascript" src="/static/CACHE/js/580d4f92a6e8.js"></script>
  </body>
</html>
